# All settings made here will override the global settings for the current emulator core

#input_enable_hotkey = "nul"
#input_exit_emulator = "escape"

input_player1_select = "num5"
input_player1_start = "num1"
input_player1_up = "up"
input_player1_down = "down"
input_player1_left = "left"
input_player1_right = "right"
input_player1_a = "x"
input_player1_b = "z"
input_player1_x = "alt"
input_player1_y = "ctrl"
input_player1_l = "nul"
input_player1_r = "nul"
input_player1_l2 = "nul"
input_player1_r2 = "nul"

